[Desktop Entry]
Encoding=UTF-8
Name=Link to Copy constructor vs assignment operator in C++ - GeeksforGeeks
Type=Link
URL=https://www.geeksforgeeks.org/copy-constructor-vs-assignment-operator-in-c/
Icon=text-html
