[Desktop Entry]
Encoding=UTF-8
Name=Link to Copy constructors, assignment operators, - C++ Articles
Type=Link
URL=https://www.cplusplus.com/articles/y8hv0pDG/
Icon=text-html
