[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ Assignment operator and copy constructor - Google Search
Type=Link
URL=https://www.google.com/search?q=c%2B%2B+Assignment+operator+and+copy+constructor&oq=c%2B%2B+Assignment+operator+and+copy+constructor&aqs=chrome..69i57.14504j0j7&client=ms-android-google&sourceid=chrome-mobile&ie=UTF-8
Icon=text-html
Name[en_US]=Link to c++ Assignment operator and copy constructor - Google Search%%%%%
