[Desktop Entry]
Encoding=UTF-8
Name=Link to 170_Copy_Constructor_Assignment_Operator.pdf
Type=Link
URL=http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1084/cs106l/handouts/170_Copy_Constructor_Assignment_Operator.pdf
Icon=application-pdf
Name[en_US]=Link to 170_Copy_Constructor_Assignment_Operator_[Stanford.edu].pdf
