[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ - What's the difference between assignment operator and copy constructor? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/11706040/whats-the-difference-between-assignment-operator-and-copy-constructor
Icon=text-html
