[Desktop Entry]
Encoding=UTF-8
Name=Link to When should we write our own assignment operator in C++? - GeeksforGeeks
Type=Link
URL=https://www.geeksforgeeks.org/assignment-operator-overloading-in-c/
Icon=text-html
Name[en_US]=Link to When should we write our own assignment operator in C++ - GeeksforGeeks%%%%% [use this code here!]
