[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ - What is The Rule of Three? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/4172722/what-is-the-rule-of-three
Icon=text-html
Name[en_US]=Link to c++ - What is The Rule of Three? - Stack Overflow%%%%%
