[submodule "embedded_linux/systemd-by-example"]
	path = linux
	# my fork
	url = https://gitlab.com/ElectricRCAircraftGuy/systemd-by-example.git
	# upstream
	# url = https://gitlab.com/franks_reich/systemd-by-example.git
