[Desktop Entry]
Encoding=UTF-8
Name=Link to Is there a way to create and run javascript in Chrome? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/9731965/is-there-a-way-to-create-and-run-javascript-in-chrome
Icon=text-html
Name[en_US]=Link to Is there a way to create and run javascript in Chrome - Stack Overflow
