[Desktop Entry]
Encoding=UTF-8
Name=Link to c - Prototype of printf and implementation - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/20402382/prototype-of-printf-and-implementation/55384270#55384270
Icon=text-html
Name[en_US]=Link to c - Prototype of printf and implementation - Stack Overflow%%%%%+ [MY OWN ANS!]
