[Desktop Entry]
Encoding=UTF-8
Name=Link to Using the GNU Compiler Collection (GCC): Warning Options
Type=Link
URL=https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html
Icon=text-html
