[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ - What is SOCK_DGRAM and SOCK_STREAM? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/5815675/what-is-sock-dgram-and-sock-stream/71417876#71417876
Icon=text-html
Name[en_US]=Link to c++ - What is SOCK_DGRAM and SOCK_STREAM? - Stack Overflow [my answer]
