[Desktop Entry]
Encoding=UTF-8
Name=Link to How to initialize a struct to 0 in C++ - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/61240589/how-to-initialize-a-struct-to-0-in-c/61240590#61240590
Icon=text-html
Name[en_US]=Link to How to initialize a struct to 0 in C++ - Stack Overflow%%%%%+ [my own Q & A]
