[Desktop Entry]
Encoding=UTF-8
Name=Link to c - Where do we use .i files and how do we generate them? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/25137743/where-do-we-use-i-files-and-how-do-we-generate-them/56482777#56482777
Icon=text-html
Name[en_US]=Link to c - Where do we use .i files and how do we generate them - Stack Overflow%%%%% [MY OWN ANS!]
