[Desktop Entry]
Encoding=UTF-8
Name=Link to c - Rounding integer division (instead of truncating) - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/2422712/rounding-integer-division-instead-of-truncating/58568736#58568736
Icon=text-html
