[Desktop Entry]
Encoding=UTF-8
Name=Link to Class and Instance Attributes – Real Python
Type=Link
URL=https://realpython.com/lessons/class-and-instance-attributes/
Icon=text-html
