[Desktop Entry]
Encoding=UTF-8
Name=Link to 10. __slots__ Magic — Python Tips 0.1 documentation
Type=Link
URL=https://book.pythontips.com/en/latest/__slots__magic.html
Icon=text-html
Name[en_US]=Link to 10. __slots__ Magic — Python Tips 0.1 documentation%%%%%+
