[Desktop Entry]
Encoding=UTF-8
Name=Link to Frank Krick / systemd-by-example · GitLab
Type=Link
URL=https://gitlab.com/franks_reich/systemd-by-example
Icon=text-html
Name[en_US]=Link to Frank Krick  systemd-by-example · GitLab
