[Desktop Entry]
Encoding=UTF-8
Name=Link to GDB online Debugger | Code, Compile, Run, Debug online C, C++
Type=Link
URL=https://www.onlinegdb.com/Hy3c1QYOU
Icon=text-html
Name[en_US]=Link to GDB online Debugger - Code, Compile, Run, Debug online C, C++ [unordered_map practice]
