[Desktop Entry]
Encoding=UTF-8
Name=Link to (7) Template Specialization In C++ - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=7SqySe4Lkow
Icon=text-html
