[Desktop Entry]
Encoding=UTF-8
Name=Link to Buckys C++ Programming Tutorials - 61 - Template Specializations - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=8kjVFp-Y4GA
Icon=text-html
