[Desktop Entry]
Encoding=UTF-8
Name=Link to template c++ - Google Search
Type=Link
URL=https://www.google.com/search?q=template+c%2B%2B&oq=template+c%2B%2B&aqs=chrome..69i57j69i61j69i60l2.3588j0j4&sourceid=chrome&ie=UTF-8
Icon=text-html
Name[en_US]=Link to template c++ - Google Search%%%%%
