[Desktop Entry]
Encoding=UTF-8
Name=Link to template specialization - Google Search
Type=Link
URL=https://www.google.com/search?q=template+specialization&client=ms-android-google&sxsrf=ALeKk02f54yHY0g2pV5sk7P7KQP04CLFVw:1587953588621&source=lnms&tbm=vid&sa=X&ved=2ahUKEwjl38aMxIfpAhUOnKwKHbdpBPAQ_AUoA3oECAwQBQ&biw=1553&bih=1150
Icon=text-html
Name[en_US]=Link to template specialization - Google Search [videos]%%%%%
