[Desktop Entry]
Encoding=UTF-8
Name=Link to template specialization - Google Search
Type=Link
URL=https://www.google.com/search?q=template+specialization&oq=template+specialization&aqs=chrome..69i57.5591j0j4&client=ms-android-google&sourceid=chrome-mobile&ie=UTF-8
Icon=text-html
Name[en_US]=Link to template specialization - Google Search%%%%%
