[Desktop Entry]
Encoding=UTF-8
Name=Link to partial template specialization - cppreference.com
Type=Link
URL=https://en.cppreference.com/w/cpp/language/partial_specialization
Icon=text-html
