[Desktop Entry]
Encoding=UTF-8
Name=Link to PDF2SearchablePDF/pdf2searchablepdf.sh at master · ElectricRCAircraftGuy/PDF2SearchablePDF
Type=Link
URL=https://github.com/ElectricRCAircraftGuy/PDF2SearchablePDF/blob/master/pdf2searchablepdf.sh
Icon=text-html
Name[en_US]=Link to PDF2SearchablePDF--pdf2searchablepdf.sh at master · ElectricRCAircraftGuy--PDF2SearchablePDF
